/**** Home Page ****/

#index #top #top_main .big_button{
  position:relative;
	float:left;
	
	width: 164px;
	height: 164px;
	margin-right: 40px;
  margin-bottom: 40px;
  	
	border: 1px solid white;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 7px 6px 6px rgba(170, 170, 170, 0.5);
	
	text-align:center;
}

#index #top #top_main .big_button p{
/*  position:absolute;*/
  bottom:5px;
  margin:3px 20px;
  
  line-height: 1em;
  font-size: 1.5em;
  
  color:white;
  text-shadow: 1px 1px 1px #555;	
  
}

#index #top #top_main .big_button img{
  padding-top: 10px;
}

#index #top #top_main div.big_button:last-child{
  margin-right:0px;
}

#index #top #top_main{
  padding-top:30px;
}

#index #top #top_main #big_first_line, #index #top #top_main #big_second_line{
  width: 800px;
  margin: 0 auto;
}


#big1{
	background: -webkit-gradient(linear, left top, left bottom, from(#EF7D81), to(#DC1F2F));
}

#index #top #top_main #big1 img{
  padding-top: 10px;
}

#big2{
	background: -webkit-gradient(linear, left top, left bottom, from(#8987D0), to(#5825BC));
}

#index #top #top_main #big2 img{
  padding-top: 35px;
}

#big3{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBB52), to(#E76D00));
}


#index #top #top_main #big3 img{
  padding-top: 25px;
}

#big4{
	background: -webkit-gradient(linear, left top, left bottom, from(#5DC0A5), to(#008271));
}


#index #top #top_main #big4 img{
  padding-top: 20px;
}

#big5{
	background: -webkit-gradient(linear, left top, left bottom, from(#7FC8FA), to(#3685DF));
}

#big6{
	background: -webkit-gradient(linear, left top, left bottom, from(#E3C342), to(#AA7E00));
}

#index #top #top_main #big6 img{
  padding-top: 20px;
}

#big7{
	background: -webkit-gradient(linear, left top, left bottom, from(#69C568), to(#108B22));
}

#big8{
	background: -webkit-gradient(linear, left top, left bottom, from(#E274CB), to(#B9009B));
}

#index #top #top_main #big8 img{
  padding-top: 20px;
}