#big1{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFB3B5), to(#EF525A));
}

#big2{
	background: -webkit-gradient(linear, left top, left bottom, from(#AFBFF8), to(#5B7ACC));
}

#big3{
	background: -webkit-gradient(linear, left top, left bottom, from(#B6E7F3), to(#61C3E8));
}

#big4{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD580), to(#FF9300));
}

#big5{
	background: -webkit-gradient(linear, left top, left bottom, from(#94EA90), to(#4BC050));
}

#big6{
	background: -webkit-gradient(linear, left top, left bottom, from(#E49AD3), to(#C545AC));
}

#big7{
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F259), to(#E5CA00));
}

#big8{
	background: -webkit-gradient(linear, left top, left bottom, from(#89E8CD), to(#00B591));
}