/**** General Stuff ****/

*::selection {
background: transparent;
}

body {
	overflow-x:hidden;
	overflow-y:hidden;
}

.content {
  width: 850px;
  margin: 0 auto;
}

#top{
  padding-top:40px;
  height: 580px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E9E9E9));
}

#bottom{
  height: 200px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#C3C3C3));
}

p {
  font-family: "Helvtica", Arial, sans-serif;
  color:#584E4F;
  font-weight:bold;
}

/**** Home Page ****/

#index #top #messages{
  position:relative;
  height:75px;
  border-bottom: 1px solid #CCC;
}

#index #top #messages p{
  font-size:2em;
}

#index #top #messages p:nth-child(2){
  float:left;
}

#index #top #messages p.date{
  position:absolute;
  color: #908283;
  font-size: 1.25em;
  right: 0;
  bottom: 0;
}

#index #top #top_main .big_button{
  position:relative;
	float:left;
	
	width: 164px;
	height: 164px;
	margin-right: 40px;
  margin-bottom: 40px;
  	
	border: 1px solid white;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 7px 6px 6px rgba(170, 170, 170, 0.5);
	
	text-align:center;
}

#index #top #top_main .big_button p{
  position:absolute;
  bottom:5px;
  margin:3px 20px;
  
  line-height: 1em;
  font-size: 1.5em;
  
  color:white;
  text-shadow: 1px 1px 1px #555;
	
}

#index #top #top_main div.big_button:last-child{
  margin-right:0px;
}

#index #top #top_main{
  padding-top:30px;
}

#index #top #top_main #first_line, #index #top #top_main #second_line{
  width: 800px;
  margin: 0 auto;
}